src/main/resources/epaper-schema-definition.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="epaperRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="deviceInfo">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="screenInfo">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:short" name="width" use="required"/>
                      <xs:attribute type="xs:short" name="height" use="required"/>
                      <xs:attribute type="xs:short" name="dpi" use="required"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="osInfo">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="name" use="required"/>
                      <xs:attribute type="xs:float" name="version" use="required"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="appInfo">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="newspaperName"/>
                    <xs:element type="xs:float" name="version"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="name"/>
            <xs:attribute type="xs:string" name="id"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="getPages">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:byte" name="editionDefId"/>
                <xs:attribute type="xs:date" name="publicationDate"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>